input[type=text], input[type=password]
{
	width:200px;
	height:40px;
}

input[type=submit]
{
	width:100%;
	height:35px;
	background-color:blue;
}
input[type=submit]:hover
{
	background-color:red;
	-webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
	color:#ffffff;
}