.container
{
	width: 100%;
	height: auto;
	margin:0px auto;
}
body
{
	background-color:#A7C7E7;
}
h1
{
	font-size:25px;
}
h2
{
	font-size:20px;
}
a{
	color:black;text-decoration:none;
}
table
{
	width:100%;
	height:auto;
}
td
{
	padding-top:5px;
	background-color:transparent;
	border-top: 2px solid black;
	font-family:"Times New Roman", times, serif;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#ffa500;
}
li
{
	float:left;
}
li a, .dropbtn
{
	display:inline-block;
	color:white;
	text-align:center;
	padding:14px 16px;
	border-right:1px solid #bbb;
	text-decoration:none;
	
}
li a:hover, .dropdown:hover .dropbtn
{
	background-color:#BF40BF; 
	color:#ffffff;
}
li.dropdown
{
	display:inline-block;
}
.dropdown-content
{
	display:none;
	position:absolute;
	background-color:#a020f0;
	min-width:160px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}
.dropdown-content a
{
	background-color:#BF40BF;
	color:#ffffff;
	padding:12px 16px;
	text-decoration:none;
	display:block;
	text-align:left;
}
.dropdown-content a:hover 
{
	background-color:#f1f1f1;
	color:black;
}
.dropdown:hover .dropdown-content
{
	display: block;
}
li a:hover
{
	background-color:#BF40BF;
	-webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
	color:#ffffff;
}
li:last-child
{
	border-right: none;
}
.isi
{
	width:auto;
	height:auto;
	margin:20px;
	background-color:white;
	padding:15px;
}
.footer
{
	width:1357px;
	height:50px;
	left:0;
	bottom:0;
	border:1px solid yellow;
	background-color:green;
	color:white;
	position:absolute;
}
