RewriteEngine On

RewriteRule ^home ?page=home [QSA,NC]
RewriteRule ^email ?page=email [QSA,NC]
RewriteRule ^kontak ?page=kontak [QSA,NC]
RewriteRule ^map ?page=map [QSA,NC]
RewriteRule ^portofolio ?page=portofolio [QSA,NC]

