RewriteEngine On

RewriteRule ^home ?page=home [QSA,NC]
RewriteRule ^email ?page=email [QSA,NC]
RewriteRule ^kontak ?page=kontak [QSA,NC]
RewriteRule ^map ?page=map [QSA,NC]
RewriteRule ^2017 ?page=2017 [QSA,NC]
RewriteRule ^2018 ?page=2018 [QSA,NC]
RewriteRule ^2019 ?page=2019 [QSA,NC]
RewriteRule ^2020 ?page=2020 [QSA,NC]
